In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_excel('F:\\data.xlsx')

In [5]:
data.x

AttributeError: 'DataFrame' object has no attribute 'x'

In [6]:
print(data.head())
print(list(data.columns[0:7]))

          x0          x1         x2          x3          x4         x5  \
0  46.669881  192.079599  80.008530  121.027378  121.027378 -59.973620
1  40.258131 -116.152721  49.914817  -78.106147  -78.106147 -78.104966
2  32.223806  -18.396286  78.652599  191.607341  191.607341  84.480934
3  49.486338  -70.636179  65.274854   -2.840670   -2.840670  -6.288344
4  47.016718 -218.649568  71.102783   74.226698   74.226698 -52.642619

          x6     x7     x8     x9  x10  x11   x12        y_train
0 -59.973620  onnn1  onnn2  onnn2    1    1   ygy  137539.042481
1 -78.104966  onnn2  onnn3  onnn3    2    2  nhub  -57606.257039
2  84.480934  onnn3  onnn4  onnn4    3    3   nkn  167998.320232
3  -6.288344  onnn4  onnn5  onnn5    4    4   ygy   23032.223177
4 -52.642619  onnn5  onnn6  onnn6    5    5  nhub  106917.015056
['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6']

In [7]:
def change_dtypes(df, cols, dtype):
    for col in cols:
        try:
            df[col] = df[col].astype(dtype)
        except:
            print('Conversion error for column: '+col)

In [14]:
change_dtypes(data,['x7','x8','x9','x10','x12'],'category')
change_dtypes(data,list(data.columns[0:7]),'float')
change_dtypes(data,['x11'],'int')
print(data.dtypes)
data[data.dtypes[(data.dtypes=='float')].index.values]
data[1:3]

x0          float64
x1          float64
x2          float64
x3          float64
x4          float64
x5          float64
x6          float64
x7         category
x8         category
x9         category
x10        category
x11           int32
x12        category
y_train     float64
dtype: object

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,y_train
1,40.258131,-116.152721,49.914817,-78.106147,-78.106147,-78.104966,-78.104966,onnn2,onnn3,onnn3,2,2,nhub,-57606.257039
2,32.223806,-18.396286,78.652599,191.607341,191.607341,84.480934,84.480934,onnn3,onnn4,onnn4,3,3,nkn,167998.320232